<!-- Input Alternatif -->
<div id="input-altr" class="input-altr">
    <form action="#">
        <div class="form-group">
            <label for="inputNama">Nama</label>
            <input type="text" id="inputNama" placeholder="Nama Lengkap" class="form-control">
        </div>
        <div class="form-group">
            <label for="inputC1">C1 Value</label>
            <input type="text" id="inputC1" placeholder="C1 Value" class="form-control">
        </div>
        <div class="form-group">
            <label for="inputC1">C2 Value</label>
            <input type="text" id="inputC2" placeholder="C2 Value" class="form-control">
        </div>
        <div class="form-group">
            <label for="inputC1">C3 Value</label>
            <input type="text" id="inputC3" placeholder="C3 Value" class="form-control">
        </div>
        <div class="form-group">
            <label for="inputC1">C4 Value</label>
            <input type="text" id="inputC4" placeholder="C4 Value" class="form-control">
        </div>                   
        <div class="form-group">
            <label for="inputC1">C5 Value</label>
            <input type="text" id="inputC5" placeholder="C5 Value" class="form-control">
        </div>  
    </form>
</div>
