<!-- Output -->
<div id="output" class="container output">
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Kode</th>
                <th>Nama</th>
                <th>Nilai Preferensi (V)</th>
            </tr>
        </thead>
        <% if(alternative.length > 0) { %>
        <tbody>
            <% for(let altr of alternative) { %> 
            <tr>
                <td> <%= altr.id %>  </td>
                <td> <%= altr.name %> </td>
                <td> <%= altr.alternative_value %> </td>
            </tr>
            <% } %> 
        </tbody>
        <% }else { %>
            <h2>There's no Alternatives</h2> 
        <% } %> 
    </table>
</div>