 <!-- Alternative Table -->
<div id="view-altr" class="container view-altr">
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th colspan="2">Alternatif</th>
                <th colspan="5">Criteria</th>
            </tr>
        </thead>
        <thead class="thead-dark"> 
            <tr>
                <th>Kode</th>
                <th>Nama</th>
                <% for(let labelCriteria of labelCriterias){ %> 
                    <th><%= labelCriteria %> </th>
                <% } %> 
            </tr>
        </thead>
        <% if(alternative.length > 0){ %>
        <tbody>
            <% for(let i = 0; i < alternative.length; i++){ %> 
            <tr>
                <td><%= alternative[i].id %> </td>
                <td> <%= alternative[i].name %>   </td>
                <% for(let labelCriteria of labelCriterias){ %>
                    <td> <%= alternative[i][labelCriteria] %>  </td>
                <% } %> 
            </tr>
            <% } %>   
        </tbody>
        <% } else { %>
            <h2>There's no value of Alternatives</h2>
        <% } %>
    </table>
</div>