<div class="col text-light">
    <a href="/dss-app"><div class="row-md-1">Input Criteria </div></a>
    <a href="/dss-app/view-criteria"><div class="row-md-1">View Criteria </div></a>
    <a href="/dss-app/input-alternatives"><div class="row-md-1">Input Alternative </div></a>
    <a href="/dss-app/view-alternatives"><div class="row-md-1">View Alternative </div></a>
    <a href="/dss-app/output"><div class="row-md-1">Output </div></a>
</div>