</head>
<body>
    <header>
        <nav>
            <ul class="navbar">
                <li><a href="#">Get Started</a></li>
                <li><a href="#">DSS App</a></li>
                <li><a href="#">History</a></li>
            </ul>
        </nav>