</head>
<body>
    <header>
        <nav>
            <ul class="navbar-default">
                <li><a href="/">Get Started</a></li>
                <li><a href="/dss-app">DSS App</a></li>
                <li><a href="#">History</a></li>
            </ul>
        </nav>