/* 
    Color Pallete
    
    Dark Blue   : #323643
    Light Blue  : #93deff
    White       : #f7f7f7
    Dark Grey   : #606470
    
*/

.about{
    margin-top: 100px;
    background-color: #323643;
    display: flex;
    flex-direction: column;
    height: 700px;
    text-align: center;
    padding: 30px 100px;
    color: #f7f7f7;
}

.about-title{
    margin: 70px 0px;
    font-size: 24px;
    flex-basis: 30%;
}

.about-line{
    border-bottom: 2px solid #f7f7f7;
    padding: 30px;
    margin: 0px 35%;
}

.about-text{
    font-size: 18px;
    flex-basis: 70%;
    padding: 0px 250px;
    line-height: 2;
}
