*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container-fluid{
    height: 700px;
}

.row{
    height: 700px;
    background-color: #494D5A;
}

.row-md-1{
    padding: 0.4em;
    margin: 0.5em 0 0.5em 0;
    color: #C9CEDE;
}

.row-md-1:hover{
    color: #FFFFFF;
}

.col-10{
    padding: 50px 150px 0px 150px;
}

.weighting{
    display: none;
}

.criteria{
    display: block;
}