<%- include('../includes/head.ejs') %> 
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<link rel="stylesheet" href="css/dss-style.css">
</head>
<%- include('../includes/navbar.ejs') %> 
</header>

<div class="container-fluid">
    <div class="row">
        <div class="col text-light">
            <a href="#"><div class="row-md-1">Criteria </div></a>
            <a href="#"><div class="row-md-1">Sub Criteria </div></a>
            <a href="#"><div class="row-md-1">Input Alternative </div></a>
            <a href="#"><div class="row-md-1">View Alternative </div></a>
            <a href="#"><div class="row-md-1">Generate </div></a>
            <a href="#"><div class="row-md-1">Output </div></a>
        </div>
        <div class="col-10 bg-light text-dark">
            
        </div>
    </div>
</div>


