<%- include('../includes/head.ejs') %> 
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/dss-style.css">
</head>
<%- include('../includes/navbar.ejs') %> 
</header>

<div class="container-fluid">
    <div class="row">
        <%- include('../includes/left-navbar.ejs') %> 
        <div class="col-10 bg-light text-dark">
            <%- include('../dss-menu/view-alternative.ejs') %> 
            <form action="#">
                <button class="btn btn-secondary" type="submit">Generate Decision</button>
            </form>
        </div>           
    </div>
</div>

</body>
</html>


