<%- include('../includes/head.ejs') %> 
<link rel="stylesheet" href="/css/bootstrap.min.css" />
</head>
<%- include('../includes/navbar.ejs') %> 
</header>

<div class="container-fluid bg-dark text-white">
    <div class="row">
        <div class="col">
            <div class="row-md-3">Criteria </div>
            <div class="row">Sub Criteria</div>
            <div class="row">Input Alternative</div>
            <div class="row">View Alternative</div>
            <div class="row">Generate</div>
            <div class="row">Output</div>
        </div>
        <div class="col-9 bg-blue">Hehe</div>
    </div>
</div>


