<%- include('../includes/head.ejs') %> 
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/dss-style.css">
</head>
<%- include('../includes/navbar.ejs') %> 
</header>

<div class="container-fluid">
    <div class="row">
        <div class="col text-light">
            <a href="/dss-app"><div class="row-md-1">Criteria </div></a>
            <a href="/dss-app"><div class="row-md-1">Weighting </div></a>
            <a href="/dss-app/input-alternatives"><div class="row-md-1">Input Alternative </div></a>
            <a href="/dss-app/view-alternatives"><div class="row-md-1">View Alternative </div></a>
            <!-- <a href="#"><div class="row-md-1">Generate </div></a> -->
            <a href="/dss-app/output"><div class="row-md-1">Output </div></a>
        </div>
        <div class="col-10 bg-light text-dark">
            <%- include('../dss-menu/view-alternative.ejs') %> 
            <form action="#">
                <button class="btn btn-secondary" type="submit">Generate Decision</button>
            </form>
        </div>           
    </div>
</div>

</body>
</html>


