<%- include('../includes/head.ejs') %> 
</head>
<%- include('../includes/navbar.ejs') %> 
        <div class="header">
            <div class="header-photo-section">
                <img src="image/homepage_header.jpg" alt="gambar orang berpikir" width="500px">
            </div>
            <div class="header-text-section">
                <div class="title-section">
                    <h1>Confused About Choosing <br>For The Best Startup?</h1>
                    <h1>We Will Help You!</h1>
                </div>
                <div class="text-section">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi deleniti eveniet aliquid 
                        perferendis illo voluptatibus explicabo, repellat, debitis quos odio quod vel eum dolore 
                        tempore itaque! Ad dolores cupiditate dolorem.
                        
                    </p>
                </div>
                <div class="button-section">
                    <a href="#"><button>Learn More</button></a>
                </div>
            </div>
        </div>
    </header>
</body>
</html>