<%- include('../includes/head.ejs') %> 
<link rel="stylesheet" type="text/css" href="css/about-style.css">
<link rel="stylesheet" type="text/css" href="css/feature.css">
</head>
<%- include('../includes/navbar.ejs') %> 
        <div class="header">
            <div class="header-photo-section">
                <img src="image/homepage_header.jpg" alt="gambar orang berpikir" width="500px">
            </div>
            <div class="header-text-section">
                <div class="title-section">
                    <h1>Confused About Choosing <br>For The Best Startup?</h1>
                    <h1>We Will Help You!</h1>
                </div>
                <div class="text-section">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi deleniti eveniet aliquid 
                        perferendis illo voluptatibus explicabo, repellat, debitis quos odio quod vel eum dolore 
                        tempore itaque! Ad dolores cupiditate dolorem.
                        
                    </p>
                </div>
                <div class="button-section">
                    <a href="#"><button>Learn More</button></a>
                </div>
            </div>
        </div>
        <div class="about">
            <div class="about-title">
                <h1>About Us</h1>
                <div class="about-line"></div>
            </div>
            <div class="about-text">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi deleniti eveniet aliquid 
                    perferendis illo voluptatibus explicabo, repellat, debitis quos odio quod vel eum dolore 
                    tempore itaque! Ad dolores cupiditate dolorem.
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi deleniti eveniet aliquid 
                    perferendis illo voluptatibus explicabo, repellat, debitis quos odio quod vel eum dolore 
                    tempore itaque! Ad dolores cupiditate dolorem.
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi deleniti eveniet aliquid 
                    perferendis illo voluptatibus explicabo, repellat, debitis quos odio quod vel eum dolore 
                    tempore itaque! Ad dolores cupiditate dolorem.
                </p>
            </div>
        </div>
    </header>
    <main class="feature">
        <div class="feature-title">
            <div class="feature-title-box">
                <p>Feature</p>
            </div>
            <div class="feature-title-text">
                <h1>This is Our Feature</h1>
            </div>
        </div>
        <div class="feature-section">
            <div class="feature-section-box">
                <div class="feature-sb-image">
                    <img src="image/system.png" alt="">
                </div>
                <div class="feature-sb-text">
                    <h3>DSS App System</h3>
                    <div class="feature-sb-line"></div>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi deleniti eveniet aliquid 
                        perferendis illo voluptatibus explicabo, repellat, debitis quos odio quod vel eum dolore 
                        tempore itaque! Ad dolores cupiditate dolorem.
                    </p>
                </div>
                <div class="feature-sb-button">
                    <a href="#"><p>Learn More</p></a>
                </div>
            </div>
            <div class="feature-section-box">
                <div class="feature-sb-image">
                    <img src="image/clock.png" alt="">
                </div>
                <div class="feature-sb-text">
                    <h3>DSS History</h3>
                    <div class="feature-sb-line"></div>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi deleniti eveniet aliquid 
                        perferendis illo voluptatibus explicabo, repellat, debitis quos odio quod vel eum dolore 
                        tempore itaque! Ad dolores cupiditate dolorem.
                    </p>
                </div>
                <div class="feature-sb-button">
                    <a href="#"><p>Learn More</p></a>
                </div>
            </div>
        </div>
    </main>
    <%- include('../includes/footer.ejs') %> 
</body>
</html>